body {
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: black;
  color: white;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

#main .wrapper {
  width: 100% !important;
  height: 100vh;
  display: flex !important;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Utilities */

.loading {
  display: flex !important;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  height: 100vh;
  position: relative;
  top: -50px;
}

.loading .process {
  margin: 0 0 20px 0;
  font-size: 3rem;
}

.loading .MuiCircularProgress-root {
  width: 65px !important;
  height: 65px !important;
}

/* Global */

.global {
  position: relative;
}

.global .connection {
  position: absolute;
  top: 10px;
  left: 10px;
}

/* Home */

.home .logo {
  max-width: 200px;
  margin-bottom: 20px;
  transform: translate(20px, 0px) rotate(0deg);
  transition: all 0.5s ease;
}

.home .title {
  font-size: 3em;
}

.home .start-form {
  display: flex;
  align-items: flex-start;
}

.home .start-form .field {
  background: white;
  border-radius: 5px;
  margin: 10px;
}

.home .modes {
  margin-top: 20px;
}

.home .modes .MuiButton-root {
  font-size: 24px !important;
  margin: 0 10px !important;
  padding: 10px 50px !important;
  font-weight: normal;
}

@media (max-width: 768px) {
  .home .modes {
    margin-top: 0px;
  }

  .home .modes .MuiButton-root {
    font-size: 20px !important;
    padding: 10px 35px !important;
  }
}

/* Game */

.game .company {
  display: flex;
  align-items: center;
  position: absolute;
  top: 20px;
  color: white;
  text-decoration: none;
}

.game .company .logo {
  width: 50px;
  transform: rotate(-10deg);
}

.game .company .title {
  margin: 0 0 0 10px;
  font-size: 30px;
}

.game .home-arrow {
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: white;
  font-size: 17px;
}

.game .home-arrow .MuiSvgIcon-root {
  width: 2em !important;
  height: 2em !important;
  transform: rotate(180deg);
}

.game .settings {
  position: absolute;
  top: 15px;
  right: 10px;
  color: white;
}

.game .settings .MuiSvgIcon-root {
  width: 1.5em !important;
  height: 1.5em !important;
}

.game .card {
  text-align: center;
  width: 90vw;
  max-width: 1000px;
  height: 50vh;
}

.game .card .content {
  height: 100%;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.game .card .content .question {
  font-weight: normal;
  font-size: clamp(2rem, 5vw, 3rem);
  padding: 20px 40px 0px 40px;
  margin-top: auto;
}

.game .card .content .fetching {
  margin-top: auto;
}

.game .card .content .fetching {
  width: 65px !important;
  height: 65px !important;
}

.game .card .content .sip {
  font-size: clamp(50px, 5.385vw, 70px);
  padding: 0px 20px 20px 20px;
  margin: auto 0 20px 0;
}

.game .card .content .sip,
.game .card .content .fetching {
  color: #ed6d6d;
}

.game .next {
  font-size: 24px !important;
  margin-top: 20px !important;
  padding: 10px 50px !important;
  font-weight: normal;
  transform: translate(0px, 0px) rotate(0deg);
  transition: all 0.5s ease;
}

@media (max-width: 768px) {
  .game .card .content .question {
    padding: 20px 20px 0px 20px;
  }
}
